<main> 
  <section class="row-3 hero-body">

        <div class="columns flex-1 is-mobile is-centered is-vcentered border has-background-success-light mt-2">
            <div class="column">
              <img class="image is-128x128" src="../images/jessevanwinkle.jpg" alt="">
            </div>
            <div class="column">
              <span class="title">Jesse Van Winkle</span><br>
              <span class="subtitle">Jesse (also known under the moniker, Pivitol Saint) is from Texas. He
                is a family man who is devoted to philanthropic causes, art, and
                software development.</span>
            </div>
          </div>

          <div class="columns is-mobile is-centered is-vcentered border has-background-success-light mt-2">
            <div class="column">
              <img class="image is-128x128" src="../images/solidsnake.JPG" alt="">
            </div>
            <div class="column">
              <span class="title">Matt Marsch</span><br>
              <span class="subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quidem voluptates quis commodi ut facilis, quas maxime nisi, minus totam magnam saepe alias inventore ratione perferendis itaque velit consectetur quibusdam?</span>
            </div>
          </div>

          <div class="columns is-mobile is-centered is-vcentered border has-background-success-light mt-2">
            <div class="column">
              <img class="image is-128x128" src="../images/angelguerrero.jpg" alt="">
            </div>
            <div class="column">
              <span class="title">Angel Guerrero</span><br>
              <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque porro, at reiciendis amet asperiores vero, impedit illo commodi quidem quaerat ea? Eos id libero illum aliquam architecto facilis corporis minus?.</span>
            </div>
          </div>

          <div class="columns is-mobile is-centered is-vcentered border has-background-success-light mt-2">
            <div class="column">
              <img class="image is-128x128" src="../images/markmartinez.jpg" alt="">
            </div>
            <div class="column">
              <span class="title">Mark Martinez</span><br>
              <span class="subtitle">Mark is devoted to the cause of mental health because of his own
                personal battle with his own mental health struggles. He is a
                musician, a father, an avid basketball lover, and a software developer
                using his powers for good!</span>
            </div>
          </div>
    </section>

    <footer class="has-background-dark" id="footer">
      <div class="hero-foot content flex:1 has-text-centered has-text-white">
        <p>
          <strong class="has-text-white">Mental Health Advocates</strong>:
          <a href="https://github.com/Angel-A15">Angel</a>,<a
            href="https://github.com/mmarsch88"
          >
            Matt,</a
          ><a href="https://github.com/PivotalSaint"> Jesse, </a> and
          <a href="https://github.com/MarkAnthony9014"> Mark</a> SOURCING:
          <a href="https://github.com/PivotalSaint/alluda">GitHub</a>.
        </p>
      </div>
    </footer>
    <script href="../server.js"></script>
  </section>
    
</main>