  <body>

    <section>

        <div class="columns flex-1 is-mobile is-centered is-vcentered border has-background-white ml-6 mr-6 mt-6">
            <div class="column">
              <img class="image is-128x128" src="../images/jessevanwinkle.jpg" alt="">
            </div>
            <div class="column">
              <span class="title">Jesse Van Winkle</span><br>
              <span class="subtitle">Jesse (also known under the moniker, Pivitol Saint) is from Texas. He
                is a family man who is devoted to philanthropic causes, art, and
                software development.</span>
            </div>
          </div>
         <div class="columns flex-1 is-mobile is-centered is-vcentered border has-background-white ml-6 mr-6 mt-2">
            <div class="column">
              <img class="image is-128x128" src="../images/IMG_5438.jpg" alt="">
            </div>
            <div class="column">
              <span class="title">Matt Marsch</span><br>
              <span class="subtitle">Matt is an aspiring full-stack developer from San Antonio, Texas. He has a professional
                background in mental health, he's a musician as well, and a big-time animal lover.</span>
            </div>
          </div>
          
          <div class="columns flex-1 is-mobile is-centered is-vcentered border has-background-white ml-6 mr-6 mt-2">            <div class="column">
              <img class="image is-128x128" src="../images/angelguerrero.jpg" alt="">
            </div>
            <div class="column">
              <span class="title">Angel Guerrero</span><br>
              <span class="subtitle">Angel dedicates his effort into aiding in mental health for his interests of psychology and biology. He is a musician, a cat dad, enjoys movies, and attends concerts on his spare time.<br>
                <br>"I have friends and family members who struggle with their own personal issues, including myself. It's not easy, so I hope our site can provide some relief to others."</span>
            </div>
          </div>

          <div class="columns flex-1 is-mobile is-centered is-vcentered border has-background-white ml-6 mr-6 mt-2 mb-5">            <div class="column">
              <img class="image is-128x128" src="../images/markmartinez.jpg" alt="">
            </div>
            <div class="column">
              <span class="title">Mark Martinez</span><br>
              <span class="subtitle">Mark is devoted to the cause of mental health because of his own
                personal battle with his own mental health struggles. He is a
                musician, a father, an avid basketball lover, and a software developer using his powers for good!</span>
            </div>
          </div>
    </section>

  </body>
