  <body>
    
    <section class='hero-body'>
        <h1 class='box title is-bold is-size-6 has-text-black'>
          <div class="block">
            <div>
            Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make healthy choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood. If you or someone you know has a mental illness, is struggling emotionally, or has concerns about their mental health, there are ways to get help. Please click any of the logos below to access resources for yourself, a friend, or a family member.</div><br><br><br>
            </div>
            <div class="columns">
              <div class="col-6">

                <p class="block"><a href="https://988lifeline.org/talk-to-someone-now/"><img src="../images/suicide-hotline-logo.jpeg" alt="988 Lifeline" width="100" height="100"></a>
                </p>

                <p class="block"><a href="https://www.nami.org/findsupport"><img src="../images/nami-logo.jpeg" alt="NAMI" width="200" height="100"></a>
                </p>

                <p class="block"><a href="https://www.hhs.texas.gov/services/mental-health-substance-use/mental-health-substance-use-resources/find-your-local-mental-health-or-behavioral-health-authority"><img src="../images/hhs-logo.jpg" alt="Find LMHA" width="200" height="100"></a>
                </p><br><br>
                  
                <p class="block"><a href="https://www.mentalhealth.va.gov/index.asp"><img src="../images/usdva-logo.jpeg" alt="VA Mental Health Services" width="100" height="100"></a>
                </p>
                
                <p class="block"><a href="https://www.universityhealthsystem.com/patient-visitor-resources/support/carelink/carelink-enrollment-forms"><img src="../images/uhs-logo.jpeg" alt="Carelink" width="100" height="100"></a>
                </p>
                <p class="block"><a href="https://www.claritycgc.org/get-help-now/"><img src="../images/clarity-logo.jpg" alt="Children's Mental Health" width="200" height="100"></a>
                </p>
              </div>
              <div class="col-6">
                <p class="block">The 988 Suicide & Crisis Lifeline is a United States-based suicide prevention network of over 200+ crisis centers that provides 24/7 service via a toll-free hotline with the number 9-8-8. It is available to anyone in suicidal crisis or emotional distress.</p><br><br><br>
                <p class="block">NAMI works to educate, support, advocate, listen and lead to improve the lives of people with mental illness and their loved ones.</p><br><br>
                <p class="block">The Texas Health and Human Services contracts with 37 local mental health authorities and two local behavioral health authorities to deliver mental health services in communities across Texas. LMHAs and LBHAs provide services to specific areas. To find where to get services in your area, you need to know which county you live in. HHS requires each LMHA and LBHA to evaluate the mental health needs of communities in their area and plan, develop policy, coordinate services and use resources to address those needs.</p><br>
                <p class="block">The United States Veterans' Association has a variety of mental health resources, information, treatment options, and more — all accessible to Veterans, Veterans' supporters, and the general public.</p><br><br><br><br>
                <p class="block">The University Health Care System offers the CareLink financial assistance program to Bexar County families who do not have health insurance and do not qualify for other coverage. While CareLink is not health insurance, CareLink helps make health care services at University Health more affordable.</p><br><br>
                <p class="block">The Clarity Child Guidance Center is the only nonprofit mental health treatment center for kids ages 3 to 17 in South Texas. Their staff of childrens' mental health professionals is the largest in the region. When a child is in crisis, we work with families to get much needed treatment regardless of their ability to pay.</p>
              </div>
        </h1>
      </div>
    </section>

  </body>
