
    <section class="rows hero-body">
      <div class="col-12">
        <h1
          class="box title is-bold is-size-6 has-text-black has-text-centered"
        >
          "Laughing is Mental Health Support"
        </h1>
        <div class="rows message">
        </div>
        <div class="rows message">
      </div>
    </section>

