<section class="hero-body rows">

    <div class="row-12">
        
        <h1 class="title is-bold is-size-6 has-text-medium has-text-centered" id="hptitle">
          Aiding in Mental Health Support
        </h1>

        <div class="rows" id="hp-text">
          <p
            class="row-6 ml-6 mr-6 mt-6 mb-6 subtitle has-text-black col-6 has-text-centered"
          >
            Word from the develepors: "Mental health is a serious issue in today's
            fast pace society. This application helps in making people put their
            needs first in their mental health."
            </p>
          <p
            class="row-6 ml-6 mr-6 mt-6 mb-6 subtitle has-text-black col-6 has-text-centered"
          >
            Disclaimer: Alluda is not a certified mental healthcare provider.
            The authors made this page to help in people finding time to free
            resources. If you are in actual need of medical help, call 911 or
            reach out to the proper healthcare providers.
          </p>

        </div>
    </div>
</section>