  <body id="bodyClr">


    <!-- Centered page message -->
    <div>

        <div class=" notification column">
            <h1 id="message" class="columns is-centered">Aiding in Mental Health Support</h1>
        </div>

    </div>

    <!-- Video: Relaxing Tracks -->
    <div class="container notification is-centered mt-6"id="widthSize">

        <h1 class="mb-3">Relaxing Track Suggestions</h1>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/1ZYbU82GVz4" title="Relaxing Sleep Music • Deep Sleeping Music, Relaxing Music, Stress Relief, Meditation Music (Flying)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/MYPVQccHhAQ" title="4K Cozy Coffee Shop with Smooth Piano Jazz Music for Relaxing, Studying and Working" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <!-- Video: Shared Stories -->
    <div class="container notification is-centered mt-6 "id="widthSize">

        <h1 class="mb-3">Shared Stories</h1>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/OHj38et5L04" title="How to Bounce Back from Burnout in 3 Simple Steps | Allan Ting | TEDxWilmingtonLive" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/Ybld6IG1KtA" title="Discover Your True Self I Dr Gabor Maté" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/uyrKQAmGDts" title="Sharing my depression story for the first time..." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/3vkkqYezJns?list=PLBEIBBdgAOApa4no8qjS0yEqbwWwzslBG" title="Recovered Anorexic Woman interview-Danni" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/s0L5MgquC2M" title="My Story || Surviving And Overcoming Childhood Trauma" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <!-- Video: Relaxaing Techniques/Meditation -->
    <div class="container notification is-centered mt-6 " id="widthSize">

        <h1 class="mb-3">Suggested Techniques to Try</h1>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/-yU7YRR17Hc" title="Asking for Help When We're in Trouble" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/H37BDUyCEe0" title="The 7 Different Types Of Meditation - (Which One Is Best For You?)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/4bJpYf7RTqE" title="Calm a Panic Attack in 3 Easy Steps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/odADwWzHR24" title="Relieve Stress & Anxiety with Simple Breathing Techniques" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="290px" src="https://www.youtube.com/embed/Q3qnvxgGm-k" title="How To Ask for Help Without Feeling Needy | Kati Morton" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </body>

